.team-detail {
    margin-top: 10em;
  text-align: center;
  color: white;
}

.team-logo {
  width: 200px;
  margin-bottom: 1rem;
}

.city {
  font-size: 1.2rem;
  opacity: 0.8;
}

.color-box {
  width: 80px;
  height: 80px;
  margin: 1rem auto;
  border-radius: 8px;
}

button {
  margin-top: 2rem;
}
