<body>
  <!-- Fondo -->
  <div class="background">
    <div class="island"></div>
    <div class="islandt"></div>
    <div class="hatch"></div>
  </div>

  <!-- Contenido -->
  <div class="content">
    <div class="grid">
      <!-- CARD -->
      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/2544.png"
          alt="LeBron James"
        />
        <div class="player-name">LeBron James</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/201939.png"
          alt="Stephen Curry"
        />
        <div class="player-name">Stephen Curry</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png"
          alt="Luka Dončić"
        />
        <div class="player-name">Luka Dončić</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/203507.png"
          alt="Giannis Antetokounmpo"
        />
        <div class="player-name">Giannis Antetokounmpo</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/1630162.png"
          alt="Anthony Edwards"
        />
        <div class="player-name">Anthony Edwards</div>
      </div>
      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629630.png"
          alt="Ja Morant"
        />
        <div class="player-name">Ja Morant</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/1628369.png"
          alt="Jayson Tatum"
        />
        <div class="player-name">Jayson Tatum</div>
      </div>
      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/203999.png"
          alt="Nikola Jokic"
        />
        <div class="player-name">Nikola Jokić</div>
      </div>
      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/201142.png"
          alt="Kevin Durant"
        />
        <div class="player-name">Kevin Durant</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/202695.png"
          alt="Kawhi Leonard"
        />
        <div class="player-name">Kawhi Leonard</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/202691.png"
          alt="Klay Thompson"
        />
        <div class="player-name">Klay Thompson</div>
      </div>

      <div class="player-card">
        <img
          src="https://cdn.nba.com/headshots/nba/latest/1040x760/1717.png"
          alt="Dirk Nowitzki"
        />
        <div class="player-name">Dirk Nowitzki</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/kobe-bryant-turns-back-4k-5hvgymtbaw7b5pyv.jpg"
          alt="Kobe Bryant"
        />
        <div class="player-name">Kobe Bryant</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/featured/kevin-garnett-cliaefof7zezv448.jpg"
          alt="Kevin Garnett"
        />
        <div class="player-name">Kevin Garnett</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/sitting-michael-jordan-thxasdy8jqj48f5l.jpg"
          alt="Michael Jordan"
        />
        <div class="player-name">Michael Jordan</div>
      </div>

      <div class="player-card">
        <img
          src="http://wallpapers.com/images/hd/magic-johnson-black-background-t8js6edovmcwhm7j.jpg"
          alt="Scottie Pippen"
        />
        <div class="player-name">Magic Johnson</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/shaquille-o-neal-in-the-court-xftvcapy4anpzbkb.jpg"
          alt="Karl Malone"
        />
        <div class="player-name">Shaquille O'Neal</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/hands-on-hips-larry-bird-0cmul2gnzqvbd4dt.jpg"
          alt="Shaquille O'Neal"
        />
        <div class="player-name">Larry Bird</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/allen-iverson-with-hands-on-waist-pmubb2gd2041ahxr.jpg"
          alt="Allen Iverson"
        />
        <div class="player-name">Allen Iverson</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/tim-duncan-ball-turn-wxqe106un1uhsnhy.jpg"
          alt="Tim Duncan"
        />
        <div class="player-name">Tim Duncan</div>
      </div>

      <!-- Karl Malone (90s) -->
      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/nba-legends-karl-malone-oxqnis2vjhe1simg.jpg"
          alt="Karl Malone"
        />
        <div class="player-name">Karl Malone</div>
      </div>

      <!-- Scottie Pippen (90s) -->
      <div class="player-card">
        <img
          src="https://i.pinimg.com/originals/d8/c3/a6/d8c3a6dda151341f9c63c68cf46b9d4f.jpg"
          alt="Scottie Pippen"
        />
        <div class="player-name">Scottie Pippen</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/shai-gilgeous-alexander-proud-comeback-brooklyn-nets-u92couxhb3eldded.jpg"
          alt="Shai Gilgeous-Alexander"
        />
        <div class="player-name">Shai Gilgeous-Alexander</div>
      </div>

      <div class="player-card">
        <img
          src="https://wallpapers.com/images/hd/carmelo-anthony-nba-2015-photoshoot-7nnp1p12qiudnvhl.jpg"
          alt="Carmelo Anthony"
        />
        <div class="player-name">Carmelo Anthony</div>
      </div>
    </div>
  </div>

  <!-- SVG filtros -->
  <svg height="0" width="0">
    <!-- OCTAVE 1 -->
    <filter id="octave1">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0004"
        numOctaves="8"
        seed="4"
        result="o1"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0008"
        numOctaves="8"
        seed="4"
        result="o2"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0001"
        numOctaves="8"
        seed="4"
        result="o3"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0018"
        numOctaves="8"
        seed="4"
        result="o4"
      />

      <feMerge result="finalIsland">
        <feMergeNode in="o1" />
        <feMergeNode in="o3" />
        <feMergeNode in="o1" />
        <feMergeNode in="o3" />
      </feMerge>

      <feGaussianBlur in="finalIsland" stdDeviation="5" result="noiseo" />

      <feMerge result="noiseo">
        <feMergeNode in="o2" />
        <feMergeNode in="o4" />
        <feMergeNode in="noiseo" />
      </feMerge>

      <feGaussianBlur in="noiseo" stdDeviation="5" />

      <feDiffuseLighting
        in="noiseo"
        surfaceScale="12"
        diffuseConstant="1"
        lighting-color="#d7bb98"
        result="lit"
      >
        <feDistantLight azimuth="90" />
      </feDiffuseLighting>

      <feBlend in="lit" in2="SourceGraphic" />
    </filter>

    <!-- OCTAVE 2 -->
    <filter id="octave2">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0004"
        numOctaves="8"
        seed="4"
        result="o1"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0008"
        numOctaves="8"
        seed="4"
        result="o2"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0001"
        numOctaves="8"
        seed="4"
        result="o3"
      />
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.0018"
        numOctaves="8"
        seed="4"
        result="o4"
      />

      <feMerge result="finalIsland">
        <feMergeNode in="o1" />
        <feMergeNode in="o3" />
        <feMergeNode in="o1" />
        <feMergeNode in="o3" />
      </feMerge>

      <feGaussianBlur in="finalIsland" stdDeviation="5" result="noiseo" />

      <feMerge result="noiseo">
        <feMergeNode in="o2" />
        <feMergeNode in="o4" />
        <feMergeNode in="noiseo" />
      </feMerge>

      <feGaussianBlur in="noiseo" stdDeviation="5" />

      <feDiffuseLighting
        in="noiseo"
        surfaceScale="12"
        diffuseConstant="1"
        lighting-color="#d1bf96"
        result="lit"
      >
        <feDistantLight azimuth="-90" />
      </feDiffuseLighting>

      <feBlend in="lit" in2="SourceGraphic" />
    </filter>
  </svg>
</body>
