<div class="carousel">

  <div class="slides" [style.transform]="'translateX(-' + currentIndex * 100 + 'vw)'">
    
    <!-- Slide 1 -->
    <div class="slide">
      <img src="assets/Ja3.png" alt="">
      <div class="content">
        <h1>JA 3</h1>
        <button>Saber más</button>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="slide">
      <img src="assets/book.jpeg" alt="">
      <div class="content">
        <h1>Book 1</h1>
        <button>Saber más</button>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="slide">
      <img src="assets/lebron23.png" alt="">
      <div class="content">
        <h1>LeBron 23</h1>
        <button>Saber más</button>
      </div>
    </div>

  </div>

  <!-- Controles -->
  <button class="arrow left" (click)="prev()">❮</button>
  <button class="arrow right" (click)="next()">❯</button>

  <!-- Dots -->
  <div class="dots">
    <span *ngFor="let dot of [0,1,2]; let i = index" 
          [class.active]="i === currentIndex"
          (click)="goTo(i)">
    </span>
  </div>

</div>
