.teams-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 3rem;
  margin-top: 7em;
}

.team-card {
  position: relative;
  height: 260px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);

    img {
      transform: scale(1.15);
      opacity: 0.25;
    }
  }
}

.team-card img {
  width: 70%;
  max-height: 70%;
  object-fit: contain;
  transition: 0.3s ease;
}

.team-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;

  h2 {
    font-size: 0.9rem;
    opacity: 0.8;
    margin: 0;
  }

  h1 {
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;
  }
}
