.header-container {
  height: 400px;
  background: url('/assets/portada.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  p {
    font-size: 1.5rem;
  }
}
