.top-players-container {
  padding: 60px 20px;
  text-align: center;
  color: white;

  .section-title {
    font-family: "Racing Sans One", sans-serif; /* título de la sección */
    font-size: 3rem;
    margin-bottom: 40px;
  }

.players-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // siempre 2 por fila
  gap: 40px;
  justify-items: center;
}


  .card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Racing Sans One", sans-serif; /* FONT AQUI */
  }

  .card-front {
    background-color: #6a2c70;
    color: #fff;
    border: 4px solid #6a2c70;

    .player-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-back {
    background-color: #000000;
    color: #fff;
    border: 4px solid #f08a5d;
    transform: rotateY(180deg);
    flex-direction: column;

    h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-family: "Limelight", sans-serif;
    }

    p {
      margin: 4px 0;
      font-size: 1.2rem;
      font-family: "Racing Sans One", sans-serif; /* estadísticas */
    }
  }

  .see-more {
    margin-top: 50px;
    padding: 12px 30px;
    font-size: 1.3rem;
    font-family: "Limelight", sans-serif;
    border-radius: 30px;
    border: none;
    background: #e53935;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #b71c1c;
    }
  }
}
